<div class="block">
	{{#link-to 'index' class="welcome"}}
    	<h1 class="text-center text-uppercase">Notes</h1>
    {{/link-to}}
</div>

<div class="block" id="createUser">	
	<div class="input-group col-sm-offset-3">
		{{input type="text" class="form-control" id="inputUserName" placeholder="Type your name" value=name insert-newline='doneAddingUserName' maxlength="32"}}
		<span class="input-group-btn">
			<button type="submit" class="btn glyphicon glyphicon-plus" {{action 'doneAddingUserName'}}></button>
		</span>
	</div>
</div>

