<nav class="navbar navbar-default navbar-fixed-top">
	<div class='container'>
		{{#link-to 'index' class="navbar-left welcome"}}
	    	<h1 class="text-uppercase">Notes</h1>
	    {{/link-to}}
		<p class="navbar-text navbar-right">Signed in as {{model.name}} 
			<small class="welcome glyphicon glyphicon-log-out" {{action 'logout'}}></small>
		</p>		
	</div>
</nav>
