<div class="block notesPresentation">
    <h3 class="text-center text-uppercase lead">{{noteMessage}}</h3>      
    <hr class="titleHr"/>
    
    {{#each}}
        {{#view 'note' length=title.length}}
            <div class="notePresentation">
                <p class="text-center"><em>{{format-date date}}:</em></p>
                <h3 class="text-center lead">{{title}}</h3> 
            </div>    
        {{/view}}
        <hr/>
    {{/each}}
</div>